html {
    background-color: rgb(221, 235, 241);
}

body {
    border: 2px solid red;
    width: 98vw;
    height: 97vh;
    margin: 0px;
}

a:hover {
    background-color: green;
    color: white;
}

table {
    border: 2px solid red;
    padding: 5px;
}

thead {
    border: 3px solid rgb(19, 18, 18);
}