html {
    background-color: rgb(221, 235, 241);
}

body {
    border: 2px solid red;
    width: 98vw;
    height: 97vh;
    margin: 0px;
}

a:hover {
    background-color: green;
    color: white;
}

a {
    text-decoration: none;
}

table {
    border: 2px solid red;
    padding: 5px;
}

thead > tr > th {
    border: 1px solid red;
}

tbody > tr > td {
    border: 1px solid rgb(92, 92, 233);
}


/* th, td {
    border: 1px solid green;
} */